/*
Author: Simon Still
Date: 10/2/2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and header content */
body {
    background-color: #d9d9d9;
}

header, footer {
    padding: 2%;
    text-align: center;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
}

main p {
    font-size: 1.25em;
    padding: 2%;
}

main a {
    color: #0000b3;
    text-decoration: none;
}

#orange, #purple, #green {
    display: block;
    margin-bottom: 2%;
    text-align: center;
    width: 33%;
    float: left;
}

#questions {
    clear: left;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    display: inline-block;
    padding-top: 5%;
}

/* Orange */
.orange-hex{
    background-color: #eb7a34;
}

.orange-rgb{
    background-color: rgb(235, 122, 52);
}

.orange-hsl{
    background-color: hsl(23, 82%, 56%);
}

/* Purple */
.purple-hex{
    background-color: #7734eb;
}

.purple-rgb{
    background-color: rgb(119, 52, 235);
}

.purple-hsl{
    background-color: hsl(262, 82%, 56%);
}

/* Green */
.green-hex{
    background-color: #219130;
}

.green-rgb{
    background-color: rgb(33, 145, 48);
}

.green-hsl{
    background-color: hsl(128, 63%, 35%);
}

footer{
    background-color: #add8e6;
}